{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block h1 %}
   Reservation
{% endblock h1 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="text-center">Current reservation</h4>
        {% for reservation in reservations %}
            <div class="card text-center">
                <div class="card-header">
                    {{ reservation.availability.day }}
                </div>
                <div class="card-body">
                {% if user.isparent %}
                    <h5 class="card-title">{{ reservation.bs.username }}</h5>
                {% else %}
                    <h5 class="card-title">{{ reservation.availability.user.username }}</h5>
                {% endif %}
                    <div class="row">
                        <div class="col-sm-4">
                        {% if user.isparent %}
                            <img src="{{ reservation.bs.image.url }}" class="reservation-img" alt="parent profile picture">
                        {% else %}
                            <img src="{{ reservation.availability.user.image.url }}" class="reservation-img" alt="baby-sitter profile picture">
                        {% endif %}
                        </div>
                        <div class="col-sm-8 text-justify">
                            <div>
                            {% if user.isparent %}
                                {% if reservation.bs.description == "" %}
                                {% else %}
                                    {{ reservation.bs.description }}
                                {% endif %}
                            {% else %}
                                {% if reservation.availability.user.description == "" %}
                                {% else %}
                                    {{ reservation.availability.user.description }}
                                {% endif %}
                            {% endif %}
                            </div>
                            <div>
                                email: 
                            {% if user.isparent %}
                                {{ reservation.bs.email }}
                            {% else %}
                                {{ reservation.availability.user.email }}
                            {% endif %}
                            </div>
                            <div>
                            {% if user.isparent %}
                                {% if reservation.bs.phone == "" %}
                                {% else %}
                                    phone : {{ reservation.bs.phone }}
                                {% endif %}
                            {% else %}
                                {% if reservation.availability.user.phone == "" %}
                                {% else %}
                                    phone: {{ reservation.availability.user.phone }}
                                {% endif %}
                            {% endif %}
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 reservation-likes">
                        <span class="badge badge-success">
                            <img class="svgicon" src="{% static 'availability/like.svg' %}">
                        {% if user.isparent %}
                            {{ reservation.bs.positiveGrade }}
                        {% else %}
                            {{ reservation.availability.user.positiveGrade }}
                        {% endif %}
                        </span>
                        <span class="badge badge-danger">
                            <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                        {% if user.isparent %}
                            {{ reservation.bs.negativeGrade }}
                        {% else %}
                            {{ reservation.availability.user.negativeGrade }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-sm-4 reservation-likes">
                        <div>
                        {% if user.isparent %}
                            {{ reservation.bs.remuneration }}€/hour
                        {% else %}
                        {% endif %}
                        </div>
                        <div>
                        {% if user.isparent %}
                            <p class="badge badge-danger text-wrap"> Baby-sitter </p>
                        {% else %}
                            <p class="badge badge-dark text-wrap"> Parent </p>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" onclick="window.location.href='{% url 'reservation_cancel' reservation.id %}';">Delete</button>
                    </div>
                </div>
                <div class="card-footer text-muted reservation-footer">
                    From {{ reservation.availability.beghour }} to {{ reservation.availability.endhour }}
                </div>
            </div>  
        </div>
        {% empty %}
        <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm-9">
                {% if user.isparent %}
                    <p>No Reservation yet. If you need a babysitter, create a "Need".</p>
                {% else %}
                    <p>No Reservation yet. If you want to get a babysitting job, go to Find.</p>
                {% endif %}
                </div>
                <div class="col-sm-3">
                {% if user.isparent %}
                    <button type="button" onclick="location.href='{% url 'availability_create' %}'" class="btn btn-dark">Create</button>
                {% else %}
                    <button type="button" onclick="location.href='{% url 'availability_find' %}'" class="btn btn-dark">Find</button>
                {% endif %}
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    <div class="col-lg-6">
    {% if user.isparent %}
        <h4 class="text-center">Reservation to confirm</h4>
    {% else %}
        <h4 class="text-center">Reservation to be confirm</h4>
    {% endif %}
    {% for demande in demandes %}
        <div class="card reservation-to-accept text-center">
            <div class="card-header">
                {{ demande.availability.day }}
            </div>
            <div class="card-body">
            {% if user.isparent %}
                <h5 class="card-title">{{ demande.bs.username }}</h5>
            {% else %}
                <h5 class="card-title">{{ demande.availability.user.username }}</h5>
            {% endif %}
                <div class="row">
                    <div class="col-lg-4">
                    {% if user.isparent %}
                        <img src="{{ demande.bs.image.url }}" class="reservation-img" alt="parent profile picture">
                    {% else %}
                        <img src="{{ demande.availability.user.image.url }}" class="reservation-img" alt="parent profile picture">
                    {% endif %}
                    </div>
                    <div class="col-lg-8 text-justify">
                        <div>
                        {% if user.isparent %}
                            {% if demande.bs.description == "" %}
                            {% else %}
                                {{ demande.bs.description }}
                            {% endif %}
                        {% else %}
                            {% if demande.availability.user.description == "" %}
                            {% else %}
                                {{ demande.availability.user.description }}
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 reservation-likes">
                        <span class="badge badge-success">
                            <img class="svgicon" src="{% static 'availability/like.svg' %}">
                            {% if user.isparent %}
                                {{ demande.bs.positiveGrade }}
                            {% else %}
                                {{ demande.availability.user.positiveGrade }}
                            {% endif %}
                        </span>                
                        <span class="badge badge-danger">
                            <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                        {% if user.isparent %}
                            {{ demande.bs.negativeGrade }}
                        {% else %}
                            {{ demande.availability.user.negativeGrade }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-sm-4 reservation-likes">
                        <div>
                        {% if user.isparent %}
                            {{ demande.bs.remuneration }}€/hour
                        {% else %}
                        {% endif %}
                        </div>
                        <div>
                        {% if user.isparent %}
                            <p class="badge badge-danger text-wrap"> Baby-sitter </p>
                        {% else %}
                            <p class="badge badge-dark text-wrap"> Parent </p>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                    {% if user.isparent %}
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-sm" onclick="window.location.href='{% url 'reservation_create' demande.availability.id demande.id %}';">Accept</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger btn-sm" onclick="window.location.href='{% url 'demande_delete' demande.id %}';">Refuse</button>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-danger" onclick="window.location.href='{% url 'demande_cancel' demande.id %}';">Cancel</button>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted reservation-footer">
                From {{ demande.availability.beghour }} to {{ demande.availability.endhour }}
            </div>  
        </div>        
        {% empty %}
        <div class="alert alert-secondary" role="alert">
            No request yet.
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}