{% extends "main/base.html" %}
{% load static %}

{% block h1 %}
    Home
{% endblock h1 %}

{% block content %}
<div class="container">
    <div class="grid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-3">
                        {% if user.isparent %}
                            <p class="badge badge-dark text-wrap"> Parent mode</p>
                        {% else %}
                            <p class="badge badge-danger text-wrap"> Baby-sitter mode</p>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h4 class="text-center">Users around you</h4>
                    </div>
                    <div class="col-3">
                        <button onclick="location.href='#BookingsToNote'" class="float-center badge badge-primary">
                          <img class="svgicon" src="{% static 'reservation/bell.svg' %}"><span class="badge badge-light">{{ count }}</span>
                        </button>
                    </div>
                </div>
                {% for account in users %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
                {% endif %}
                    <div class="col-md-6">
                        <div class="card home-card card-img">
                            <img src="{{ account.image.url }}" class="card-img-top" alt="profile picture">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title">{{ account.username }}</h5>
                                    </div>
                                    <div class="col-3">
                                        <span class="badge badge-success">
                                        <img class="svgicon" src="{% static 'availability/like.svg' %}">
                                        {{ account.positiveGrade }}
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span class="badge badge-danger">
                                            <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                                            {{ account.negativeGrade }}
                                        </span>
                                    </div>
                                </div>
                            <p class="card-text"> 
                                {% if account.description == null %}
                                    {% else %}
                                    {{ account.description }}
                                    {% endif %}
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if account.isparent %}
                                    <p class="badge badge-dark text-wrap"> Parent </p>
                                    {% else %}
                                    <p class="badge badge-danger   text-wrap"> Baby-sitter </p>
                                    {{ account.remuneration }}€/hour
                                    {% endif %}
                                </div>
                            </div>                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div>
                {% else %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endif %}
                {% empty %}
                <div class="alert alert-secondary" role="alert">
                    <div class="row">
                        <div class="col-md-10">
                            No users live in {{ user.city }}, try to change your city to the nearest larger city.
                        </div>
                        <div class="col-md-2">
                            <button type="button" onclick="location.href='{% url 'users-profile' %}'" class="btn btn-dark">Change</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="BookingsToNote" class="col-lg-4">
                <h4 class="text-center">Reservation to be noted</h4>
                <div class="row">
                    <div class="col-12">
                       {% for reservation in reservations %}
                        <div class="card text-center">
                           <div class="card-header">
                                {{ reservation.availability.day }}
                            </div>
                            <div class="card-body">
                            {% if user.isparent %}
                                <h5 class="card-title">With {{ reservation.bs.username }}</h5>
                           {% else %}
                                <h5 class="card-title">With {{ reservation.availability.user.username }}</h5>
                            {% endif %}
                                <p class="text-center">How'd the babysitting go? </p>
                                <div class="row">
                                    <div class="col-sm">
                                    </div>
                                    <div class="col-sm">
                                        <button class="like btn btn-success" type="submit" onclick="location.href='{% url 'add_positive_grade' reservation.id %}'">
                                            <img class="svgicon" src="{% static 'availability/like.svg' %}">
                                        </button>
                                    </div>
                                    <div class="col-sm">
                                        <button class="dislike btn btn-danger" type="submit" onclick="location.href='{% url 'add_negative_grade' reservation.id %}'">
                                            <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                                        </button>
                                    </div>
                                    <div class="col-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                From {{ reservation.availability.beghour }} to {{ reservation.availability.endhour }}
                            </div>
                        </div>
                        {% empty %}
                        <div class="alert alert-secondary" role="alert">
                            All bookings have been noted.
                        </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}