#logo_findBS{
    width: 130px;
    height: 130px;
}

#baseh1{
    padding-top: 10px;
}

#notifbutton{
    margin-top:-5px ;
}

.svgicon{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 2px;
}

body{
    background-color: white;
}

nav{
    background-color: #f2f2f2;
}
#accountimg{
    width: 100px;
    height: 100px;
}

#account-primary-infos{
    margin-left: 10px;
    margin-top: 10px;
}

ul{
    text-align: left;
    list-style: none;
}

.reservation-img{
    border-radius: 8px;
    width: 120px;
    height: 120px;
    margin-top: -10px;
    margin-left: -10px;
}

.reservation-to-accept{
    border-color: red;
}

.home-card{
    margin-top: 20px;
    width: 18rem;
}

.find-card{
    margin-top: 20px;
    margin-right: 20px;
    width: 18rem;
}

.card-img-top{
    height: 300px;
}

.mobile{
    overflow-x: hidden;
}

.need-item{
    margin-top: 10px;
}
