{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block h1 %}
   Profile
{% endblock h1 %}

{% block content %}
<div class="content-section">
    <div class="media grid">
        <img id="accountimg" class="rounded-circle account-img" src="{{ user.image.url }}" alt="profile image">
            <div id="account-primary-infos" class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <span class="badge badge-success">
                    <img class="svgicon" src="{% static 'availability/like.svg' %}">
                    {{ user.positiveGrade }}
                </span>
                <span class="badge badge-danger">
                    <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                    {{ user.negativeGrade }}
                </span>
            </div>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}