{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block h1 %}
   Find
{% endblock h1 %}

{% block content %}
<div class="container">
            <form method="post">
               {% csrf_token %}
               {{ form|crispy}}
               <input class="btn btn-outline-info" type="submit" value="Submit" />
            </form>
            <div class="container">
               {% for availability in availabilitys %}
               {% if forloop.counter0|divisibleby:3 %}
                  <div class="row">
               {% endif %}
                     <div class="col-lg-4">
                        <div class="card find-card">
                           <div class="card-header text-center">
                              {{ availability.day }}
                           </div>
                           <img src="{{ availability.user.image.url }}" class="card-img-top" alt="profile picture">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-6">
                                    <h5 class="card-title">{{ availability.user.username }}</h5>
                                 </div>
                                 <div class="col-3">
                                    <span class="badge badge-success">
                                       <img class="svgicon" src="{% static 'availability/like.svg' %}">
                                       {{ availability.user.positiveGrade }}
                                    </span>
                                 </div>
                                 <div class="col-3">
                                    <span class="badge badge-danger">
                                       <img class="svgicon" src="{% static 'availability/dislike.svg' %}">
                                       {{ availability.user.negativeGrade }}
                                    </span>
                                 </div>
                              </div>
                              <p class="card-text">Need from {{ availability.beghour }} to {{ availability.endhour }}</p>
                              <p class="card-text"> {{ availability.user.description }}</p>
                              <div class="row">
                                 <div class="col-sm-6">
                                 </div>
                                 <div class="col-sm-6">
                                    <button class="btn btn-primary" onclick="window.location.href='{% url 'demande_create' availability.id %}';">Request</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               {% if forloop.counter|divisibleby:3 %}
                  </div>
               {% endif %}
               {% empty %}
               <div class="alert alert-secondary" role="alert">
                  No Need yet.
              </div>
               {% endfor %}
         </div>
</div>
{% endblock content %}