{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block h1 %}
   Need
{% endblock h1 %}

{% block content %}
<div class="container">
    <button class="btn btn-outline-info" onclick="window.location.href='{% url 'availability_create' %}';">New</Button>
    {% for availability in availabilitys %}
    <div class="row need-item">
        <div class="col-sm-6">
            {{ availability.day }}  : {{ availability.beghour }} to {{ availability.endhour }}
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" onclick="window.location.href='{% url 'availability_update' availability.id %}';">Edit</button>                    
        </div>
        <div class="col-sm-2">
            <button class="btn btn-danger" onclick="window.location.href='{% url 'availability_delete' availability.id %}';">Delete</button>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-secondary" role="alert">
        <div class="row">
            <div class="col-sm-10">
                No "Need" yet. If you need a babysitter, create one.
            </div>
            <div class="col-sm-2">
                <button type="button" onclick="location.href='{% url 'availability_create' %}'" class="btn btn-dark">Create</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}