{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block h1 %}
   Need
{% endblock h1 %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <input class="btn btn-outline-info" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}