{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>findBS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
    </head>
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row">
                {% if user.is_authenticated %}
                    <div class="col-sm-10 nav">
                        <a class="nav-link" href="{% url 'reservation_done' %}">Home</a>
                    {% if user.isparent %}
                        <a class="nav-link" href="{% url 'availability_list' %}">Need</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'availability_find' %}">Find</a>
                    {% endif %}
                        <a class="nav-link" href="{% url 'reservation_list' %}">Reservation</a>
                        <a class="nav-link" href="{% url 'users-profile' %}">Profile</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="nav-link" href="{% url 'users-logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="col-sm-10 nav">
                        <a class="nav-link" href="{% url 'main-home' %}">Home</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="nav-link" href="{% url 'users-login' %}">Login</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <body>
        <img src="{% static 'main/logo_findBS.png' %}" id="logo_findBS" class="rounded float-left" alt="logo findBS">
        <h1 id="baseh1" class="text-left text-uppercase m-4">{% block h1 %}{% endblock %}</h1>
        <div class="container-fluid mobile">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
