{% extends "main/base.html" %}
{% load static %}

{% block h1 %}
   Home
{% endblock h1 %}

{% block content %}
<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{ links.img1 }}" class="d-block w-100" alt="A woman with two children playing...">
      </div>
      <div class="carousel-item">
        <img src="{{ links.img2 }}" class="d-block w-100" alt="A woman with a little boy reading...">
      </div>
      <div class="carousel-item">
        <img src="{{ links.img3 }}" class="d-block w-100" alt="A woman with two children playing...">
      </div>
      <div class="carousel-item">
       <img src="{{ links.img4 }}" class="d-block w-100" alt="Young woman feeding a child">
     </div>
    </div>
  </div>
</div>
{% endblock content %}